@model MVC2.Models.Student

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Thông tin sinh viên</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">Họ và tên</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fullname)
        </dd>

        <dt class="col-sm-2">Ngày sinh</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt class="col-sm-2">Giới tính</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt class="col-sm-2">Địa chỉ</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt class="col-sm-2">SĐT</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt class="col-sm-2">Nơi sinh</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>

        <dt class="col-sm-2">Lớp</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Cập nhật</a> |
    <a asp-action="Index" class="btn btn-secondary">Trở về danh sách</a>
</div>
